.option{
    color: white;
    margin: auto 10px; 
    cursor: pointer;
    padding: 10px;
}
.option:hover {
    background-color: rgb(68, 68, 68);
}
.mat-toolbar{
    background-color: rgb(43, 43, 43);
    
}
.header{
    width: 100%;
    text-align: center;
}